.main-tables-container{
    display: flex;
    width: 930px;
    margin: 0 auto; 
}
.product-cards__container{
    display: flex;
    flex-wrap: wrap;
    max-width: 930px;
    margin: 0 auto;
}
.plans-container__slider{
    justify-content: center;
}
.main-tables-container{
    flex-direction: row;
    margin-bottom: 20px;
}
.table-content{
    margin: 0 80px;
}